
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

.vscode/
.DS_Store
*.log
*.class


.idea/
*.iml
out/


*.swp
*~

*.bak
*.tmp

/shelf/
/workspace.xml


task-manager-data/

src/main/resources/email.properties
