
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

.vscode/
.DS_Store
*.log
*.class


.idea/
*.iml
out/


*.swp
*~

*.bak
*.tmp

events.csv


src/main/resources/email.properties
